.container {
    position: relative;
}

.node {
    --node-size: 1rem;
    
    position: absolute;
    width: var(--node-size);
    height: var(--node-size);
    border: 1px solid white;
    transition: background .2s ease-in;
}

.node[data-blocked="true"] {
    background: lightgrey !important;
}
