.node {
    --node-background-color: white;
    fill: var(--node-background-color);
    transition: fill .2s ease-in;
}

.node[data-blocked="true"] {
    --node-background-color: lightgrey;
}

.node[data-active="true"] {
    --node-background-color: #43729c;
    transition: fill .1s ease-in;
}

.node[data-input="true"] {
    --node-background-color: #43729c;
}

.node[data-output="true"] {
    --node-background-color: #43729c;
}

.node[data-visited="true"] {
    --node-background-color: #43729c;
}