.node {
    --node-background-color: transparent;
    fill: var(--node-background-color);
    transition: fill .2s ease-in;
}

/* GRID */
.node[data-theme="grid"][data-active="true"] {
    --node-background-color: rgba(37, 36, 43, 0.6);
}

.node[data-theme="grid"][data-depth="0"]:not([data-active="true"]) {
    --node-background-color: white
}

.node[data-theme="grid"][data-depth="2"] {
    /* --node-background-color: rgba(123, 122, 122, 1); */
}

.node[data-theme="grid"][data-depth="1"] {
    /* --node-background-color: rgba(123, 122, 122, .8); */
}

.node[data-theme="grid"][data-active="true"][data-depth="1"] {
    --node-background-color: rgba(123, 122, 122, .9);
}

/* IO */
.node[data-theme="io"][data-active="true"] {
    --node-background-color: rgba(202, 68, 44, 0.5);
}

/* PATH */
.node[data-theme="manual"][data-active="true"] {
    transition: unset;
    --node-background-color: rgba(202, 68, 44, 0.6);
}

.node[data-theme="manual"][data-visited="true"] {
    --node-background-color: rgba(202, 68, 44, 0.6);
}

.node[data-theme="dfs"][data-active="true"] {
    transition: unset;
    --node-background-color: rgb(68,125,160);
}

.node[data-theme="dfs"][data-visited="true"] {
    --node-background-color: rgba(68,125,160,.5);
}