.button {
    cursor: pointer;
    background: white;
    border: 1px solid lightgray;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

.button:hover {
    opacity: .7;
}

.button:not(:last-of-type) {
    margin-right: 0.25rem;
}