.container {
    width: max-content;
    max-height: calc(100vh - 2rem);
    padding: 0 1rem;
    box-sizing: border-box;
    overflow: auto;
    margin-right: 1rem;
    flex-shrink: 0;
}

.node[data-active="true"] {
    color: red; 
} 